-# コメント部分テンプレートを置き換える
$('.comment_button_#{@post.id}').html("#{j render 'comments/comment_button', {post: @post, open: @open}}");
$('.comment_line_#{@post.id}').html("#{j render 'comments/comment_line', {post: @post, open: @open}}");
